/* ============================
   FONTS
============================ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* ============================
   COLOR SCHEME / VARIABLES
============================ */

:root {
    /* fonts */
    --font-standard: "Nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /* Standard colors */
    --color-black: #0000;
    --color-white: #F1F3F7;
    --color-header: #1A1926;
    --color-light: #637085;
    --color-dark: #28263B;
    --grey-100: #F5F7FA;
    --grey-200: #F0F1F5;
    --grey-300: #E8EAED;
    --grey-400: #E3E5E8;
    --grey-500: #D0D3D6;
    --grey-600: #B0B3B7;
    --grey-700: #909498;
    --grey-800: #707478;
    --grey-900: #505255;
    --border-100: #EBEEF2;
    --border-200: #E3E5E8;
    --border-300: #C6C8CC;
    --color-bg: #ecf4ffc4;
    --color-transparent: transparent;
    --color-accent: #2D99FF;
    --color-orange: #FF9640;
    --color-red: #FF6640;
    --color-yellow: #FFD422;
    --color-blue-1: #2CD9D9;
    --color-green: #31D482;
    --color-purple: #826AF9;
    --color-dark-green: #24B26B;
    --color-dark-orange: #F09330;
    --color-dark-yellow: #FCBB42;
    --color-dark-red: #E94D3F;
    --color-dark-blue: #2D7DCC;
    --color-dark-purple: #634CD4;
    --color-dark-accent: #2682D9;
    --transparent-color-low-opacity: rgb(128, 128, 128, 30%);
    --main-gradient: linear-gradient( 0deg, rgba(48,124,244,1) 0%, rgba(134,58,246,1) 30%, rgba(188,55,226,1) 64%, rgba(239,97,92,1) 100% );
    /* Shadows */
    --box-shadow: 0 5px 1px rgba(0, 0, 0, 0.05);
    /* Buttons, text and background colors */
    --background: var(--color-bg);
    --color-text: var(--color-dark);
    --color-border: var(--grey-400);
    --color-background: var(--grey-400);
    --color-surface: var(--color-white);
    --color-border: var(--border-300);
    --navlink-text-color: var(--color-accent);
    --navlink-bg-color: rgba(45, 153, 255, 0.2);
    --navlink-bg-hover-color: rgba(45, 153, 255, 0.4);
    --btn-hover-bg: rgba(30, 121, 206, 0.699);
    --btn-blue-text-color: var(--color-white);
    --btn-blue-bg-color: var(--color-accent);
    --btn-grey-text-color: var(--color-header);
    --btn-grey-bg-color: var(--grey-100);
    /* btn - account */
    --btn-account-text-color: var(--color-dark);
    --btn-account-background-color: var(--color-transparent);
    --btn-account-border-color: var(--color-transparent);
    /* account */
    --account-name-text-color: var(--color-header);
    --account-name-background-color: var(--grey-200);
    --account-name-border-color: var(--grey-200);
    --account-name-image-border-color: var(--color-white);
    /* btn - settings */
    --btn-settings-text-color: var(--grey-600);
    --btn-settings-background-color: var(--color-transparent);
    --btn-settings-border-color: var(--color-transparent);
    --btn-settings-dot-color: var(--color-header);
    /* btn - close */
    --btn-close-text-color: var(--color-black);
    --btn-close-background-color: var(--color-white);
    --btn-close-border-color: var(--grey-200);
    --btn-close-hover-color: var(--grey-400);
    /* modal */
    --modal-bg-color: var(--transparent-color-low-opacity);
    /* card */
    --card-background-color: #fff;
    --card-text-color: var(--color-header);
    --card-link-color: var(--color-accent);
    /* dropdown */
    --dropdown-text-color: var(--color-dark);
    --dropdown-background-color: var(--grey-100);
    --dropdown-border-color: var(--color-white);
    /* form - input */
    --form-input-text-color: var(--color-header);
    --form-placeholder-color: var(--color-light);
    --form-input-border-color: var(--grey-500);
    --form-input-border-focus-color: rgb(118, 119, 121);
    /* form - search input */
    --form-search-input-text-color: var(--color-light);
    --form-search-input-placeholder: var(--color-light);
    --form-search-input-background-color: transparent;
    --form-search-input-border-color: transparent;
    --form-search-input-border-focus-color: rgba(45, 153, 255, 0.1);
    /* form - input error */
    --form-error-input-text-color: var(--color-dark);
    --form-error-input-background-color: var(--grey-100);
    --form-error-input-border-color: var(--color-red);
    --form-error-input-border-focus-color: rgba(45, 153, 255, 0.1);
    /* form - error message */
    --form-error-message-text-color: var(--color-dark-red);
    --form-error-message-background-color: var(--grey-100);
    --form-error-message-border-color: var(--color-red);
    /* alert */
    --alert-notification-text-color: var(--color-dark-blue);
    --alert-notification-background-color: rgba(45, 153, 255, 0.1);
    /* alert - success */
    --alert-notification-success-text-color: var(--color-dark-green);
    --alert-notification-success-background-color: var(--color-green);
    /* alert - warning */
    --alert-notification-warning-text-color: var(--color-dark-yellow);
    --alert-notification-warning-background-color: var(--color-yellow);
    /* alert - warning */
    --alert-notification-error-text-color: var(--color-dark-red);
    --alert-notification-error-background-color: var(--color-red);
}

/* ============================
   BASE STYLES
============================ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 16px;
    font-family: "Nunito", sans-serif var(--font-standard);
    font-weight: 400 var(--font-regular);
    font-style: normal;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* ============================
   STRUCTURE & LAYOUT
============================ */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: var(--color-background);
}

.backoffice-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100dvh;
    background-color: #ecf4ffc4;
}

.portal {
    display: grid;
    grid-template-columns: minmax(50px, 270px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo top" "side main";
    height: 100dvh;
}

    .portal > .logotype {
        grid-area: logo;
        border-right: 1px solid var(--color-border);
        padding: 1rem 2rem;
    }

    .portal > .side {
        grid-area: side;
        border-right: 1px solid #C6C8CC;
        padding: 1rem;
    }

    .portal > .top {
        grid-area: top;
        border-bottom: 1px solid #C6C8CC;
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 5rem;
        align-items: center;
    }

    .portal > .main {
        grid-area: main;
        padding: 2rem;
    }

.project-page {
    padding: 2rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============================
   COMPONENTS
============================ */
.surface {
    border-radius: 16px;
    background-color: var(--color-surface);
    box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.1);
}

.wysiwyg-wrapper {
    border: 1px solid var(--form-input-border-color, #D0D3D6);
    border-radius: 14px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    .wysiwyg-wrapper:focus-within {
        border-color: var(--form-input-border-focus-color);
    }

.temp {
    height: 600px;
    width: 450px;
}

/* ============================
   TYPOGRAPHY
============================ */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    color: var(--color-header);
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 32px;
    font-weight: var(--font-bold);
}

h3 {
    font-size: 28px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 24px;
    font-weight: var(--font-semibold);
}

h5 {
    font-size: 20px;
    font-weight: var(--font-semibold);
}

h6 {
    font-size: 18px;
    font-weight: var(--font-semibold);
}

/* ============================
   LINKS
============================ */
.nav-link,
.tab-link {
    font-family: var(--font-standard);
    font-size: 15px;
}

.nav-link {
    font-weight: var(--font-semibold);
}

.tab-link {
    font-weight: var(--font-bold);
}

.nav-links {
    display: grid;
    gap: .5rem;
    margin-top: 1rem;
}

.nav-link {
    font-size: 1rem;
    font-family: var(--font-standard);
    font-weight: var(--font-semibold);
    color: var(--color-dark);
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

    .nav-link:hover,
    .nav-link.active {
        background-color: var(--navlink-bg-color);
        color: var(--navlink-text-color);
    }


/* ============================
   BUTTONS
============================ */

/* Base button styles */
.btn {
    font-family: var(--font-standard);
    font-size: 1em;
    font-weight: var(--font-semibold);
    padding: 0.7rem 2rem;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


/* Blue button */
.btn-blue {
    color: var(--btn-blue-text-color);
    background-color: var(--btn-blue-bg-color);
}


/* Grey button */
.btn-grey {
    color: var(--btn-grey-text-color);
    background-color: var(--btn-grey-bg-color);
}


/* Create Account Button */
.btn-create-account {
    width: 100%;
    color: var(--btn-blue-text-color);
    background-color: var(--btn-blue-bg-color);
    border: none;
    text-decoration: none;
    font-style: normal;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    margin-top: 1.5rem;
}

    .btn-create-account:hover {
        color: var(--color-white);
        background-color: var(--btn-hover-bg);
    }


/* Add Project Button */
.btn-addproject {
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: 0.6rem 1.5rem;
}

    .btn-addproject:hover {
        background-color: var(--btn-hover-bg);
    }


/* Round Account Button */
.btn-account {
    background-color: var(--btn-account-background-color);
    color: var(--btn-account-text-color);
    border: 1px solid var(--btn-account-border-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .btn-account img {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        object-fit: contain;
    }


/* Settings Button */
.btn-settings {
    color: var(--btn-settings-text-color);
    background-color: var(--btn-settings-background-color);
    border: 1px solid var(--btn-settings-border-color);
    font-size: 1.4em;
    width: 17px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}


/* Add Project button */
.btn-add-project {
    color: var(--btn-blue-text-color);
    background-color: var(--btn-blue-bg-color);
    border: none;
    text-decoration: none;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .btn-add-project:hover {
        color: var(--color-white);
        background-color: var(--btn-hover-bg);
    }


/* Close Button */
.btn-close {
    background-color: var(--btn-close-background-color);
    border: 1px solid var(--btn-close-border-color);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .btn-close:hover {
        background-color: var(--btn-close-hover-color);
    }


/* Submit container */
.btn-submit-container {
    padding-top: .5rem;
    padding-bottom: 0.3rem;
}


/* Submit Button */
.btn-submit {
    margin-top: auto;
    color: var(--btn-blue-text-color);
    background-color: var(--btn-blue-bg-color);
    border: none;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .btn-submit:hover {
        color: var(--color-white);
        background-color: var(--btn-hover-bg);
    }


/* Edit Button */
.btn-edit {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .btn-edit:hover {
        background-color: var(--btn-close-hover-color);
    }




/* ============================
   DIVIDERS
============================ */

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--divider-color, #ccc);
    margin: 0.5rem 0;
}

/* ============================
   HELPERS
============================ */

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.open {
    display: flex !important;
}

.remove {
    color: var(--color-red) !important;
}

.alpha-logotype {
    font-size: 26px;
    font-weight: var(--font-bold);
    font-family: var(--font-logo);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.logo-text {
    color: var(--color-text);
}

.alpha-logotype a {
    text-decoration: none;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .7rem;
}

    .project-header h2 {
        color: var(--color-header);
        font-weight: var(--font-bold);
        font-family: var(--font-standard);
    }

.modal {
    z-index: 500;
    background-color: var(--modal-bg-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

    .modal.modal-show {
        display: flex !important;
    }

.modal-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    box-sizing: border-box;
    max-height: 95vh;
    padding: 1.5rem;
    overflow-y: auto;
    position: relative;
}

.card {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    padding: 1.5rem 2rem 1.2rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    position: relative;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.card-body {
    margin: 0;
    flex: 1;
}

.card-footer {
    margin-top: 7.5rem;
}

    .card-footer a {
        color: var(--card-link-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: var(--font-regular);
        font-style: normal;
        font-family: var(--font-standard);
        transition: color 0.1s ease-in-out;
    }

        .card-footer a:hover {
            text-decoration: underline;
        }

/* ============================
   DROPDOWNS
============================ */

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    color: var(--dropdown-text-color);
    background-color: var(--dropdown-background-color);
    border: 1px solid var(--dropdown-border-color);
    padding: 1.2rem 1rem 1.2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-action {
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
    background-color: var(--color-transparent);
    border: 1px solid var(--color-transparent);
    color: var(--color-header);
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: var(--font-standard);
    font-weight: var(--font-regular);
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

    .dropdown-action:hover {
        background-color: var(--navlink-bg-color);
        color: var(--navlink-text-color);
    }

    .dropdown-action.show {
        display: block;
    }


/* ============================
   FORMS
============================ */

form {
    width: 100%;
    text-align: left;
}

.form-group {
    display: grid;
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative;
}

.form-horizontal-group {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    position: relative;
}

.form-label {
    color: var(--color-header);
    font-size: 1em;
    font-weight: var(--font-standard);
    font-style: normal;
    font-family: var(--font-standard);
    padding: 0.2rem;
    margin: .5rem 0 0 0;
}

    .form-label .edit {
        margin: 0;
    }

    .form-input {
        font-size: 1em;
        font-weight: var(--font-regular);
        font-style: normal;
        font-family: var(--font-standard);
        color: var(--color-header);
        padding: 0.5rem 1rem;
        outline: none;
        border-radius: 14px;
        background-color: #fff;
        border: 1px solid var(--form-input-border-color);
        transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }

    .form-input:focus {
        border: 1px solid var(--form-input-border-focus-color);
    }

    .form-input::placeholder {
        color: var(--color-light);
    }

.form-checkbox-group {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.8rem;
}

    .form-checkbox-group .form-label {
        font-weight: var(--font-regular);
        align-self: center;
    }

    .form-checkbox-group a {
        text-decoration: none;
        color: var(--color-accent);
        font-size: 1rem;
    }

.form-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: .5rem;
}

.form-checkbox-input {
    display: none;
}

    .form-checkbox-input:checked + .form-checkbox-box {
        background-color: var(--color-accent);
        border-color: var(--grey-400);
    }

        .form-checkbox-input:checked + .form-checkbox-box::after {
            opacity: 1;
            transform: scale(1);
        }

    .form-checkbox-input:focus + .form-checkbox-box {
        outline: 2px solid var(--color-white);
        outline-offset: 2px;
    }

.form-checkbox-box {
    width: 20px;
    height: 20px;
    border: 2px solid var(--grey-400);
    border-radius: 5px;
    background-color: var(--grey-100);
    transition: all 0.1s ease-in-out;
    position: relative;
    margin-top: 8px;
}

    .form-checkbox-box::after {
        content: "";
        position: absolute;
        left: 0.4rem;
        top: 0.1rem;
        width: 5px;
        height: 10px;
        border: solid var(--color-white);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) scale(0);
        transform-origin: center;
        opacity: 0;
        transition: all 0.1s ease-in-out;
    }

.form-checkbox-input:checked + .form-checkbox-box {
    background-color: var(--color-accent);
    border-color: var(--grey-200);
}

    .form-checkbox-input:checked + .form-checkbox-box::after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }

.search-form {
    display: flex;
    align-items: center;
}

.form-search-input {
    font-size: 1rem;
    font-weight: var(--font-regular);
    font-style: normal;
    font-family: var(--font-standard);
    color: var(--color-header);
    padding: 0.5rem 1rem;
    outline: none;
    background-color: var(--form-search-input-background-color);
    border: 1px solid var(--form-search-input-border-color);
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

    .form-search-input:focus {
        border-bottom: 1px solid var(--border-300);
    }

    .form-search-input::placeholder {
        color: var(--color-light);
    }

.form-input-extended {
    position: relative;
}

    .form-input-extended i {
        position: absolute;
        z-index: 1;
        left: 16px;
        top: 11px;
    }

    .form-input-extended .form-input {
        padding-left: 1.8rem;
        display: flex;
        width: 100%;
    }

input[type="date"] {
    cursor: pointer;
}

textarea,
.form-textarea {
    resize: none;
    min-height: 150px;
}

.wysiwyg-editor {
    min-height: 60px;
    max-height: 100px;
    overflow-y: auto;
    font-family: var(--font-standard);
    font-size: 1rem;
    padding: .3rem;
}

    .wysiwyg-editor .ql-editor {
        min-height: 40px;
        max-height: 80px;
        overflow-y: hidden;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        font-family: var(--font-standard);
        color: var(--form-input-text-color);
        background-color: white;
        outline: none;
    }

.wysiwyg-toolbar {
    border-top: 1px solid var(--form-input-border-color);
    padding: 0.4rem;
    background-color: #f9f9f9;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

#edit-project-description-wysiwyg-editor .ql-editor {
    max-height: 150px;
    overflow-y: auto;
}

/* ============================
   SECTIONS
============================ */

#signup .card,
#login .card {
    text-align: center;
    width: 550px;
}

#signup .card-header,
#login .card-header {
    justify-content: center;
    margin-top: 3rem;
}

#signup .card-footer,
#login .card-footer {
}

#signup .form-checkbox-group,
#login .form-checkbox-group {
    margin: 2.5rem 0 1rem 0;
}

#sidebar {
    border-right: 1px solid var(--border-200);
    padding: 1rem;
}

#header {
    border-bottom: 1px solid var(--border-200);
    padding: 1rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 2.7rem;
}

#account-container {
    position: relative;
}

    #account-container .dropdown {
        min-width: 300px;
        width: 100%;
    }

    #account-container .account-name {
        color: var(--account-name-text-color);
        background-color: var(--account-name-background-color);
        border: 2px solid var(--account-name-border-color);
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 14px;
        width: 100%;
    }

        #account-container .account-name img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid var(--account-name-image-border-color);
        }

#add-project-modal .card {
    width: 550px;
}

#edit-project-modal .modal-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.5rem;
    overflow: visible;
}

#edit-project-modal .card-body {
    flex: 1;
    overflow: visible;
}

/* ============================
   IMAGES
============================ */

.add-project-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

/* ============================
   PROJECTS
============================ */

#projects {
    display: grid;
    gap: 1.5rem;
}

    #projects .project-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    #projects .project.card {
        height: 250px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .card p,
        .card .description {
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
        }

        #projects .project.card .card-header {
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-areas:
                "img name action"
                "img client na";
            align-items: center;
            column-gap: 1rem;
        }

            #projects .project.card .card-header .project-image {
                grid-area: img;
                width: 56px;
                height: 56px;
                border-radius: 14px;
            }

                #projects .project.card .card-header .project-image img {
                    width: 56px;
                    height: 56px;
                    object-fit: contain;
                }

            #projects .project.card .card-header .project-name {
                grid-area: name;
            }

            #projects .project.card .card-header .client-name {
                grid-area: client;
                color: var(--color-light);
            }

            #projects .project.card .card-header .project-actions {
                grid-area: action;
            }

        #projects .project.card .card-body {
            margin: 0 0.2rem;
        }

#projects .project.card .card-body {
    padding-top: .5rem;
}

    #projects .project.card .card-body p {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    #projects .project #project-actions-container .dropdown {
        box-shadow: 0 0 5px 2px rgba(134, 134, 134, 0.1);
        width: 250px;
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        left: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-word;
    }

    #projects .project #project-actions-container .project-edit-dropdown {
        padding: 0.5rem 1rem;
    }

        #projects .project #project-actions-container .project-edit-dropdown .dropdown-actions {
            padding: 0 !important;
        }

        #projects .project #project-actions-container .project-edit-dropdown .dropdown-action {
            padding: 0.7rem !important;
        }

.logout-form {
    margin-top: 1rem;
}

.logout-button {
    width: 100%;
    background-color: var(--dropdown-background-color);
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

    .logout-button i {
        font-size: 1.2rem;
    }

    .logout-button:hover {
        background-color: var(--navlink-bg-hover-color, #cce0ff);
    }


/* ============================
   STATUS
============================ */

.project-status-tabs {
    display: flex;
    gap: 2rem;
    margin: .5rem 0;
    border-bottom: 1px solid #e0e0e0;
}

    .project-status-tabs .tab {
        text-decoration: none;
        font-weight: 600;
        color: var(--color-light);
        padding-bottom: 0.5rem;
        position: relative;
        transition: color 0.3s;
    }

        .project-status-tabs .tab.active {
            color: #2f80ed;
        }

            .project-status-tabs .tab.active::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #2f80ed;
                border-radius: 2px;
            }




/* ============================
    VALIDATION AND ERROR
============================ */

.field-error {
    color: var(--color-dark-red);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
    margin-left: .3rem; 
}






#signup-terms-error {
    display: block !important;
    color: red !important;
    margin-left: 0.5rem;
}

.form-checkbox-input.error + .form-checkbox-box {
    border-color: red;
}