<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account" onclick="toggleDropdown()">
        <img src="/Images/Users/User-girl-brunette.svg" alt="template avatar">
    </button>
    <div id="account-dropdown" class="dropdown hide">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="/Images/Users/User-girl-brunette.svg" alt="template avatar">
                <span>Emma Schönbeck</span>
            </div>
        </div>

        <div class="dropdown-body">
            <div></div>
            <div class="divider"></div>
            <a class="dropdown-action" href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </div>

    </div>
</div>
