<div>
    <button type="button" data-type="dropdown" data-target="#settings" class="btn-settings">
        <i class="fa-solid fa-gear" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
    </button>
</div>