@model LoginViewModel

@{
    Layout = "_CenterWrapperLayout";
    ViewData["Title"] = "Login";
}

<section id="login">
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>

        <div class="card-body">
            <form method="post" asp-controller="Auth" asp-action="Login" novalidate>
                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-input" asp-for="Email" id="login-email" />
                    <span class="field-error" id="login-email-error" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" asp-for="Password" id="login-password" />
                    <span class="field-error" id="login-password-error" asp-validation-for="Password"></span>
                </div>

                <div class="form-checkbox-group">
                    <label class="form-checkbox">
                        <input asp-for="IsPersistent" class="form-checkbox-input">
                        <span class="form-checkbox-box"></span>
                    </label>
                    <label asp-for="IsPersistent" class="form-label">Remember me</label>
                </div>

                <button type="submit" class="btn btn-create-account">Log In</button>

            </form>
        </div>

        <div class="card-footer">Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign up</a></div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}