@model SignUpViewModel

@{
    Layout = "_CenterWrapperLayout";
    ViewData["Title"] = "Create Account";
}

<section id="signup">
    <div class="card">
        <div class="card-header">
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="card-body">
            <partial name="_ValidationSummaryPartial" />
            <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
                <div class="form-group">
                    <label class="form-label" asp-for="FullName"></label>
                    <input class="form-input" asp-for="FullName" />
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-input" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmPassword"></label>
                    <input class="form-input" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-checkbox-group">
                    <label class="form-checkbox">
                        <input asp-for="Terms" class="form-checkbox-input">
                        <span class="form-checkbox-box"></span>
                    </label>
                    <label asp-for="Terms" class="form-label">I accept <a href="#">Terms and Conditions</a></label>
                </div>

                <button type="submit" class="btn btn-create-account">Create Account</button>

            </form>
        </div>

        <div class="card-footer">Already have an account? <a asp-controller="Auth" asp-action="Login">Log in</a></div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
