<aside id="sidebar">
    <section class="alpha-logotype">
        <a href="@Url.Content("~/")">
            <img src="/Images/Logotype/AlphaLogo.svg" alt="Alpha Logotype">
            <span class="logo-text">alpha</span>
        </a>
    </section>
    <nav class="nav-links">
        <a asp-controller="Projects" asp-action="Index" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/projects") ? "active" : "")">
            <i class="fa-solid fa-briefcase"></i>
            <span>Projects</span>
        </a>
        <a asp-controller="Clients" asp-action="Index" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/clients") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-handshake"></i>
            <span>Clients</span>
        </a>
        <a asp-controller="Members" asp-action="Index" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/members") ? "active" : "")">
            <i class="fa-solid fa-briefcase"></i>
            <span>Team Members</span>
        </a>
    </nav>
</aside>